<!-- Parameters in:
	surveyID (surveyID, used to check validation and display)
	surveyIDempty (show if surveyID is empty, will ask for input if true)
	surveyIDvalid (if id is valid, will show warning if not)
	addNewQ (use to show the "add" button, and other display)
	questionShows (show the already created questions)
	hadQ (if this surveyID already have questions, just for showing option)
	thisQid (The questionID need to be added this time)
-->

<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

<html>

  <h2>Create Survey</h2></dd>

  <body>
    <p style="text-align:right">{{greeting}} <a href="{{ url }}">{{ url_linktext }}</a></p>
    <form>
      {% if surveyIDempty and not addNewQ%}
        <dd><p>Please input your survey NAME (can't be the same with what we have):</p></dd>
        <dd><p> <input TYPE = text NAME = "surveyID" size="100" maxlength="100" value = "{{ surveyID }}"> ( 100 charactors max, and can't be changed after submit!) </p></dd>
        <p><dd><INPUT TYPE = submit NAME = "test" VALUE = "Submit Survey NAME!"></dd></p>
      {% else %} {% if not surveyIDvalid and not addNewQ%}
        <dd><p>Your survey NAME is the same with what we have!</p></dd>
        <dd><p>Please change it to another one (can't be the same with what we have):</p></dd>
        <dd><p> <input TYPE = text NAME = "surveyID" size="100" maxlength="100"> ( 100 charactors max, and can't be changed after submit!) </p></dd>
        <p><dd><INPUT TYPE = submit NAME = "test" VALUE = "Submit Survey NAME!"></dd></p>
      {% else %}
        <p>Survey NAME:</p>
        <dd><p>{{ surveyID }}</p></dd>
        <p><dd><INPUT TYPE = submit NAME = "add" VALUE = "Add Question!"></dd></p>
      {% endif %} {% endif %}

      {% if addNewQ %}
        {% if hadQ %}
          {% for questionEntry in questionShows %}
            <p>Q{{ questionEntry.questionID }}: <input TYPE = text NAME = "{{ questionEntry.questionID }}question" size="100" maxlength="100" VALUE= "{{ questionEntry.question }}" ></p>
            {% if questionEntry.multiple %}
              <dd><p>Choices: (Put one choice each line) | If multiple choices <input type="checkbox" NAME="{{ questionEntry.questionID }}multiple" checked></p></dd>
            {% else %}
              <dd><p>Choices: (Put one choice each line) | If multiple choices <input type="checkbox" NAME="{{ questionEntry.questionID }}multiple"></p></dd>
            {% endif %}
            <dd><p><textarea NAME="{{ questionEntry.questionID }}choices" ROWS="5" COLS="74" >{{ questionEntry.choices }}</textarea></p></dd>
          {% endfor %}

        {% endif %}
        <p>Q{{ thisQid }}: <input TYPE = text NAME = "question" size="100" maxlength="100"></p>
        <dd><p>Choices: (Put one choice each line) | If multiple choices <input type="checkbox" NAME="multiple"></p></dd>
        <dd><p><textarea NAME="choices" ROWS="5" COLS="74"></textarea></p></dd>


     <!-- <form action="/" method="post"> -->
       <p><dd><INPUT TYPE = submit NAME = "add" VALUE = "Add Question!"><INPUT TYPE = submit NAME = "done" VALUE = "Done!"></dd></p>
      {% endif %}

     </form> 
     

  </body>
</html>
