<!-- Parameters in: 
	surveyEntrysAll (contains curveys that already have)
	surveyEntrysUser (surveys that created by the user)
	surveyVoted (surveys voted by the user, is a string, each surveyID separated by '\n')
	allusersArray (get all users logged in at least once, is a python array)
-->

<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

<html>

  <h2>Survey Website</h2></dd>
  <body>
    <p style="text-align:right">{{greeting}} <a href="{{ url }}">{{ url_linktext }}</a></p>
    <form>
    <p style="text-align:right"><input type=text name="keyword">
    	<select name=select>
	<option value=name selected>Name</option>
	</select>
	<INPUT TYPE = submit NAME = "search" VALUE = "Search"><p>
    </form>

    <p><font size=3 color=#FF1493>Surveys shown by popularity order:</font></p>
    <input type="hidden" id="surveyVoted" name="variable" value="{{surveyVoted}}">

  <!--  <table border=0 cellpadding=2 cellspacing=2 width=60%> -->
    <table border=0 width=80%>
    <tr>
   <!-- 	<td style="color:#C6DEFF">~~~</td> -->
	<td style="text-align:left" height=50>Choose the survey you wanna vote:</td> <td style="text-align:left">View results of the surveys:</th>
    </tr>
    {% for surveyE in surveyEntrysAll %}
        <script type="text/javascript">
	  document.write("<tr>");
          var surveyE = "{{surveyE.surveyID}}";
          var allSurveyVoted = document.getElementById("surveyVoted").value;
	  var surveyVoted = allSurveyVoted.split("\n");
	  var voted = false;
	  for (var i=1; i<surveyVoted.length; i++) {
            if (surveyE == surveyVoted[i]) {
              voted = true;
            }
	  }
//	  document.write("<td></td>");
          if (voted) {
            document.write("<td><p><dd><font color=#8A2BE2>{{surveyE.voteN}}&nbsp;&nbsp;&nbsp;</font><a href=\"/vote?surveyID={{ surveyE.surveyID }}\" onClick=\"javascript:return confirm(\'You\\\'ve already voted. Do you like to change your answer?\')\">{{ surveyE.surveyID }}</a><font color=#FF1493>&nbsp;&nbsp;&nbsp;Voted~</font></dd></p></td>");
	  } else {
            document.write("<td><p><dd><font color=#8A2BE2>{{surveyE.voteN}}&nbsp;&nbsp;&nbsp;</font><a href=\"/vote?surveyID={{ surveyE.surveyID }}\">{{ surveyE.surveyID }}</a></dd></p></td>");
	  }
          document.write("<td><p><dd><font color=#8A2BE2>{{surveyE.voteN}}&nbsp;&nbsp;&nbsp;</font><a href=\"/results?surveyID={{ surveyE.surveyID }}\">{{ surveyE.surveyID }}</a></dd></p></td>");
		
	  document.write("</tr>");
        </script>
    {% endfor %}
    </table>
    <p>Edit or Create surveys you have access to:</p>
    
    <table>
    {% for surveysU in surveyEntrysUser %}
    <tr>
      <!--input type=hidden name=surveyID value = "{{ surveysU.surveyID }}"-->
      <td><p><dd><a href="/edit?surveyID={{ surveysU.surveyID }}" onClick="javascript:return confirm('Edit the survey will delete all the results of this survey. Do you want to continue?')">{{ surveysU.surveyID }}</a></dd></p></td>
    <form>
      <td><p><dd><INPUT TYPE = submit NAME = "delete{{ surveysU.surveyID }}" VALUE = "Delete" onClick="javascript:return confirm('Delete the survey will delete all the results of this survey. Do you want to continue?')"></dd></p></td>
    </tr>
    {% endfor %}
    </table>
    </form> 

    <form method=post action="/create">
       <p><dd><INPUT TYPE = submit NAME = "create" VALUE = "Create Survey!"></dd></p>
    </form> 

    <p>Browse other users:</p>
    {% for userName in allusersArray %}
      <p><dd><a href="/browse?userID={{ userName }}">{{ userName }}</a></dd></p>
    {% endfor %}

    <hr /> <p style = "text-align:center;font-size:14px">Developed by Lin Shi.</p>
    
  </body>
</html>
