<!-- Parameters in: 
	surveyEntrysAll (contains curveys that already have)
	surveyEntrysUser (surveys that created by the user)
-->

<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

<html>

  <h2>Survey Website</h2></dd>

  <body>
    <p style="text-align:right">{{greeting}} <a href="{{ url }}">{{ url_linktext }}</a></p>
    <dd><p>You may:</p></dd>
    <p>1. Choose the survey you wanna vote or revote:</p>
    {% for surveyE in surveyEntrysAll %}
       <p><dd><a href="/vote?surveyID={{ surveyE.surveyID }}" onClick="javascript:return confirm('You\'ve already voted. Do you like to change your answer?')">{{ surveyE.surveyID }}</a></dd></p>
       <p><dd><a href="/vote?surveyID={{ surveyE.surveyID }}">{{ surveyE.surveyID }}</a></dd></p>
    {% endfor %}

    <p>2. Edit or Create your own surveys:</p>
    {% for surveysU in surveyEntrysUser %}
       <p><dd><a href="/edit?surveyID={{ surveysU.surveyID }}" onClick="javascript:return confirm('Edit the survey will delete all the results of this survey. Do you want to continue?')">{{ surveysU.surveyID }}</a></dd></p>
    {% endfor %}

     <form>
     <!-- <form action="/" method="post"> -->
       <p><dd><INPUT TYPE = submit NAME = "create" VALUE = "Create Survey!"></dd></p>
     </form> 

  </body>
</html>
