<!-- Parameters in:
	surveyID
	questionShows
	voteD
	votedResult

-->

<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

<html>

<!--  <h2>Vote</h2> -->
  <h3>{{surveyID}}</h3>

  <body>
    <p style="text-align:right">{{greeting}} <a href="{{ url }}">{{ url_linktext }}</a></p>

    <form>

    <input type="hidden" name="surveyID" value="{{surveyID}}">
  {% if not voteD %}

    {% for questionEntry in questionShows %}
      <p>Q{{ questionEntry.questionID }}. {{ questionEntry.question }}</p>

      <input type="hidden" id="{{questionEntry.questionID}}" name="variable" value="{{ questionEntry.choices }}">
      <script type="text/javascript">
      var choiceLine = document.getElementById("{{questionEntry.questionID}}").value;
      var choices = choiceLine.split("\n");
      var multiple = "{{questionEntry.multiple}}";
      var questionID = "{{questionEntry.questionID}}";
      for (var i=0; i<choices.length; i++) {
        if (multiple == "False") {
          document.write("<dd><p><input type=\"radio\" name=\"selection,"+ questionID +"\" value="+i+">"+ choices[i] +"</p></dd>");
        } else {
          document.write("<dd><p><input type=\"checkbox\" name=\"selection,"+ questionID +","+ i +"\">"+ choices[i] +"</p></dd>");
        }
      }
      </script>
    {% endfor %}
  {% else %}
    <input type="hidden" id="votedResult" name="variable" value="{{ votedResult }}">
    
    {% for questionEntry in questionShows %}
      <p>Q{{ questionEntry.questionID }}. {{ questionEntry.question }}</p>

      <input type="hidden" id="{{questionEntry.questionID}}" name="variable" value="{{ questionEntry.choices }}">
      <script type="text/javascript">
      var votedResultLine = document.getElementById("votedResult").value;
      var votes = votedResultLine.split("\n");
      var questionID = "{{questionEntry.questionID}}";
      var multiple = "{{questionEntry.multiple}}";
      var choiceLine = document.getElementById("{{questionEntry.questionID}}").value;
      var choices = choiceLine.split("\n");
      var thisChoice = votes[questionID-1].split(" "); 

      for (var i=0; i<choices.length; i++) {
        if (multiple == "False") {
	  if (thisChoice[i] == 1) {
            document.write("<dd><p><input type=\"radio\" name=\"selection,"+ questionID +"\" value="+i+" checked>"+ choices[i] +"</p></dd>");
	  } else {
            document.write("<dd><p><input type=\"radio\" name=\"selection,"+ questionID +"\" value="+i+">"+ choices[i] +"</p></dd>");
	  }
        } else {
          if (thisChoice[i] == 1) {
            document.write("<dd><p><input type=\"checkbox\" name=\"selection,"+ questionID +","+ i +"\" checked>"+ choices[i] +"</p></dd>");
	  } else {
            document.write("<dd><p><input type=\"checkbox\" name=\"selection,"+ questionID +","+ i +"\">"+ choices[i] +"</p></dd>");
	  }
        }
      }
      </script>
    {% endfor %}
  {% endif %}

       <p><dd><INPUT TYPE = submit NAME = "back" VALUE = "Cancel"><INPUT TYPE = submit NAME = "vote" VALUE = "Submit"></dd></p>
    </form> 
    <hr /> <p style = "text-align:center;font-size:14px">Developed by Lin Shi.</p>

  </body>
</html>
